@import './variables';

@mixin card-properties() {
  mat-card {
    padding: $mat-card-padding;
  }

  ::ng-deep {
    .mat-card-header-text {
      margin: $mat-card-header-margin !important;
    }

    mat-card-actions {
      margin: 0 !important;
    }
  }
}
