<mat-accordion *ngIf="savingAccounts.length > 0">
  <mat-expansion-panel *ngFor="let account of savingAccounts">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>Rachunek</b>
      </mat-panel-title>
      <mat-panel-description class="d-none d-md-block">
        Numer: {{ account.getAccountNumber() }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p class="d-block d-md-none">Numer rachunku: {{ account.getAccountNumber() }}</p>
    <p>Kwota na rachunku: {{ account.getAccountSum() }} zł</p>
    <p>oprocentowanie: {{ account.getAccountInterest() }}%</p>
    <mat-action-row>
      <div class="row">
        <div class="col-12 col-sm-6"><button mat-button color="primary" [routerLink]="['/saving-accounts', account.getId()]">Zobacz Szczegóły</button></div>
        <div class="col-12 col-sm-6"><button mat-button color="warn" (click)="removeAccount(account.getId())">Usuń</button></div>
      </div>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p *ngIf="savingAccounts.length <= 0">Brak rachunków oszczędnościowych</p>
<button
  mat-raised-button
  color="primary"
  routerLink="/"
  class="mt-4">Wstecz</button>
