<mat-accordion *ngIf="!getLoadingContent() && savingDeposits.length > 0">
    <mat-expansion-panel *ngFor="let deposit of savingDeposits">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Lokata</b>
        </mat-panel-title>
        <mat-panel-description class="d-none d-md-block">
          Numer: {{ deposit.depositNumber }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p class="d-block d-md-none">Numer lokaty: {{ deposit.depositNumber }}</p>
      <p>Kwota na lokacie: {{ deposit.depositSum }} zł</p>
      <p>oprocentowanie: {{ deposit.depositInterest }}%</p>
      <mat-action-row>
        <button mat-button color="primary" [routerLink]="['/bank-deposits', deposit.id]">Zobacz Szczegóły</button>
        <button mat-button color="warn" (click)="removeDeposit(deposit.id)">Usuń</button>
      </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
<mat-progress-bar *ngIf="getLoadingContent()" mode="indeterminate"></mat-progress-bar>
<p *ngIf="!getLoadingContent() && savingDeposits.length <= 0">Brak lokat oszczędnościowych</p>
<mat-card-actions>
  <button
    mat-raised-button
    color="primary"
    routerLink="/"
    class="mt-4">Wstecz</button>
  <button
    mat-raised-button
    color="primary"
    (click)="addDeposit()"
    class="mt-4">Dodaj lokatę</button>
</mat-card-actions>
