<mat-progress-bar *ngIf="getLoadingContent()" mode="indeterminate"></mat-progress-bar>
<div *ngIf="!getLoadingContent()">
  <div *ngIf="account">
    <div><b>Numer rachunku:</b> {{ account?.accountNumber }}</div>
    <div><b>Kwota na rachunku:</b> {{ account?.accountSum }} zł</div>
    <div><b>Oprocentowanie rachunku:</b> {{ account?.accountInterest }}%</div>
  </div>
  <div *ngIf="!account">
    Nie znaleziono rachunku
  </div>
  <button
    mat-raised-button
    color="primary"
    [routerLink]="['/saving-accounts', 'list']"
    class="mt-4">Wstecz</button>
</div>
