<div class="row">
  <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
    <mat-card class="example-card">
      <mat-card-header class="py-2">
        <mat-card-title><h1>Nieprawidłowy adres strony</h1></mat-card-title>
        <mat-card-subtitle><p>Strona o podanym adresie nie została znaleziona</p></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Wpisz poprawny adres w przeglądarce i spróbuj ponownie.</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
